p{
    border: 2px black;
    color: yellow;
}

li{
    color: lightblue;
    background-color: aliceblue;
    border-radius: 5px;
}

table{
    border: 2px double black;
}

th{
    font-size: 15px;
}

td{
    background-color: chocolate;
}